//Breakpoints
$mobileBreakPoint: 376px;
$desktopBreakPoint: 1440px;

//Colors
//DarkMode
$darkBlue-elements: hsl(209, 23%, 22%);
$veryDarkBlue-background: hsl(207, 26%, 17%);
$white-text: hsl(0, 0%, 100%);
//LightMode
$white-elements: hsl(0, 0%, 100%);
$veryDarkBlue-text: hsl(200, 15%, 8%);
$darkGray-input: hsl(0, 0%, 52%);
$veryLightGray-background: hsl(0, 0%, 98%);
//Both
$white: hsl(0, 0%, 100%);
